<p>User: <%= @user.name %></p>
<ul> <% unless @user.pieces.nil? %>
    <% @user.pieces.each do |piece|%>
	<li><%= piece.name %></li>
   <% end %>
   <% end %>
</ul>

<p>
	<%= render 'pieces/pieces_form'%>
</p>

